{%- macro here(url, changes) -%}
{{ url | build({
year: data.query.year
}, {
excludeContainer: 1,
aposRefresh: 1
}, changes) }}
{%- endmacro -%}

{% fragment render(data) %}
<ul class="bg-filter-list">
    {% for year in data.filters.year %}
    <li>
        <button
            class="{{ 'is-active' if data.query.year == year.value }}"
            hx-get="{{ here(data.url, { year: year.value })}}"
            hx-target=".blog-page"
            hx-swap="outerHTML"
        >
            {{ __t(year.label) }}
        </button>
    </li>
    {% endfor %}
</ul>
{% endfragment %}
