{%- macro here(url, changes) -%}
{{ url | build({
year: data.query.year
}, changes) }}
{%- endmacro -%}

{%- macro htmxURL(url, changes) -%}
{%- set baseURL = here(url, changes) -%}
{%- if baseURL.includes('?') %}
{{- baseURL + "&excludeContainer=1&aposRefresh=1" -}}
{%- else -%}
{{- baseURL + "?excludeContainer=1&aposRefresh=1" -}}
{%- endif -%}
{%- endmacro -%}

{% fragment render(data) %}
<ul class="bg-filter-list">
    {% for year in data.filters.year %}
    <li>
        <button
            class="{{ 'is-active' if data.query.year == year.value }}"
            hx-get="{{ htmxURL(data.url, { year: year.value })}}"
            hx-target=".blog-page"
            hx-swap="outerHTML"
        >
            {{ __t(year.label) }}
        </button>
    </li>
    {% endfor %}
</ul>
{% endfragment %}
